.searchDevice {
  .search {
    min-width: 325px;
    border-radius: var(--app-radius-m);
    background: rgb(255 255 255 / 90%);
    border: 1px solid var(--app-border);
  }

  input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  @media (width <= 767px) {
    .search {
      min-width: 220px;
    }
  }
}
